<header>
    <h1>Test</h1>
    <nav>
        <ul>
            <li>
                <a routerLink="/calculatrice">Calculatrice</a>
            </li>
            <li>
                <a routerLink="/catalogue">Catalogue</a>
            </li>
            <li>
                <a routerLink="/test-composant">Test Composant</a>
            </li>
            <li>
                <a routerLink="/directive">Directive</a>
            </li>
            <li>
                <a routerLink="/login">Login</a>
            </li>
            <li>
                <a routerLink="/pipe">Pipe</a>
            </li>
            <li>
                <a routerLink="/reactive-form">Reactive Form</a>
            </li>
            <li>
                <a routerLink="/meteo">Meteo</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    Test
</footer>
