.login-container{
    max-width: 400px; 
    margin: 60px auto 0;
}
.error{
  color: tomato; 
  font-size: 12px; 
  padding-top: 4px
}
input.ng-invalid.ng-dirty.ng-touched{
  background-color: tomato;
}
.errors.ng-touched{
  visibility: hidden;
}